.name{
	width:100px;
	font-family: "Arial Narrow", Arial, sans-serif;
}
#region-select{
	margin-left:10px;
	width:100px;
}
#product-select{
	width:100px;
}
#month-select{
	width:100px;
}
table{
	border:1px solid #A8A3A3;
	border-collapse: collapse;
}
th,td{
	width:80px;
}
th{
	background-color: #EBF692;
	border-bottom:1px solid #A8A3A3;
	border-left: 1px solid #A8A3A3;
}
td{
	text-align: center;
	border-left: 1px solid #A8A3A3;
}
tr:hover{
	background-color: #74F0F7;
}

